<a href="https://colab.research.google.com/github/2201204/22_Practice_Python/blob/main/hud.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Welcome Python, 저는 파이썬을 좋아합니다.")

Welcome Python, 저는 파이썬을 좋아합니다.

In [7]:
hi=("Welcome Python,")
data=("저는 파이썬을 좋아합니다.")
print(hi,data)

Welcome Python, 저는 파이썬을 좋아합니다.

In [ ]:
print("안녕하세요?", "박상엽님, 기초파이썬 강좌를 수강하신 것을 축하드립니다.")

안녕하세요? 박상엽님, 기초파이썬 강좌를 수강하신 것을 축하드립니다.

In [1]:
hi=("안녕하세요?")
name=("박상엽 님,")
data=("기초 파이썬 강좌를 수강하신것을 축하드립니다.")
print(hi,name,data)

안녕하세요? 박상엽 님, 기초 파이썬 강좌를 수강하신것을 축하드립니다.

In [2]:
print("parkSangYeop")
print("Parksangyeop")
print("park_sang_yeop")

parkSangYeop
Parksangyeop
park_sang_yeop

In [6]:
print("*"*40)
print("* 제1조 1항 대한민국은 민주공화국이다. *")
print("*"*40)

****************************************
* 제1조 1항 대한민국은 민주공화국이다. *
****************************************

In [ ]:
name=input("성명을 입력하시오:")
age=input("나이를 입력하시오:")
addr=input("주소를 입력하시오:")
print(name,age,addr)
print(name)
print(age)
print(addr)

성명을 입력하시오:박상엽
나이를 입력하시오:20
주소를 입력하시오:전주시
박상엽 20 전주시
박상엽
20
전주시

In [8]:
x=9
y=9
mult=x*y
print(x,"*",y,"는",mult,"입니다.")

9 * 9 는 81 입니다.

In [ ]:
print(1+2,2-3,3*4,4/4)
print(1+2)
print(2-3)
print(3*4)
print(4/4)

3 -1 12 1.0
3
-1
12
1.0

In [ ]:
x=int(input("첫번째 정수를 입력하시오:"))
y=int(input("두번째 정수를 입력하시오:"))
z=int(input("세번째 정수를 입력하시오:"))
sum=x+y-z
print(x,y,z ,"sum의 값은",sum,"입니다.")

첫번째 정수를 입력하시오:100
두번째 정수를 입력하시오:200
세번째 정수를 입력하시오:50
100 200 50 sum의 값은 250 입니다.

In [ ]:
x=int(input("첫번쨰 정수를 입력하시오:"))
y=int(input("두번쨰 정수를 입력하시오:"))
print(x+y)

첫번쨰 정수를 입력하시오:9
두번쨰 정수를 입력하시오:6
15

In [ ]:
x=int(input("첫번쨰 정수를 입력하시오:"))
y=int(input("두번쨰 정수를 입력하시오:"))
print(x+y)

첫번쨰 정수를 입력하시오:7
두번쨰 정수를 입력하시오:4
11

In [ ]:
x=int(input("첫번쨰 정수를 입력하시오:"))
y=int(input("두번쨰 정수를 입력하시오:"))
print((x*1000)+y)

첫번쨰 정수를 입력하시오:100
두번쨰 정수를 입력하시오:100
100100

In [ ]:
x=int(input("첫번쨰 정수를 입력하시오:"))
y=int(input("두번쨰 정수를 입력하시오:"))
print(x+y)

첫번쨰 정수를 입력하시오:100
두번쨰 정수를 입력하시오:100
200

In [9]:
x=input("첫번째 정수를 입력하시오.:")
y=input("두번째 정수를 입력하시오.:")
sum=int(x)+int(y)
print(sum)

첫번째 정수를 입력하시오.:100
두번째 정수를 입력하시오.:100
200

In [ ]:
X=input("정수를 입력하시오:")
print("나의 등록금은"+str(200)+"만원대이다.")

정수를 입력하시오:200
나의 등록금은200만원대이다.

In [11]:
for i in range(10):print("방문을 환영합니다.")

방문을 환영합니다.
방문을 환영합니다.
방문을 환영합니다.
방문을 환영합니다.
방문을 환영합니다.
방문을 환영합니다.
방문을 환영합니다.
방문을 환영합니다.
방문을 환영합니다.
방문을 환영합니다.